<h2>Edit Trip Form</h2>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: 'edit_trip' do |f| %>
<p><strong>Please fill out the details of your trip</strong></p>

  <div>
    <%= f.label :date, "Date:" %>
    <%= f.text_field :date, placeholder: Date.today.to_s %>
  </div>

  <div>
    <%= f.label :cost, "Cost:" %>
    <%= f.text_field :cost, placeholder: "$0.00", value: @trip.cost.to_f / 100 %>
  </div>

    <div>
    <%= f.label :passenger_id, "Passenger:" %>
    <%= f.text_field :passenger_id, placeholder: "ID" %>
  </div>

  <div>
    <%= f.label :rating, "Rating:" %>
    <%= f.text_field :rating, placeholder: "1-5" %>
  </div>

  <div>
    <%= f.label :driver_id, "Driver:" %>
    <%= f.text_field :driver_id, placeholder: "ID" %>
  </div>


  <%= f.submit "Edit this Trip"%>

<% end %>
