<h2>Request Trip Form</h2>

<%= form_with model: @trip do |f| %>
<p><strong>Please fill out the details of your Trip Request</strong></p>

  <div>
    <%= f.label :date, "Date:" %>
    <%= f.text_field :date, placeholder: "Name" %>
  </div>

  <div>
    <%= f.label :price, "Price:" %>
    <%= f.text_field :price, placeholder: "111-222-3333" %>
  </div>

    <div>
    <%= f.label :passenger, "Passenger:" %>
    <%= f.text_field :passenger, placeholder: "111-222-3333" %>
  </div>

  <div>
    <%= f.label :rating, "Rating:" %>
    <%= f.text_field :rating, placeholder: "111-222-3333" %>
  </div>

  <div>
    <%= f.label :driver, "Driver:" %>
    <%= f.text_field :driver, placeholder: "111-222-3333" %>
  </div>


  <%= f.submit "Request this Trip"%>

<% end %>