<h2>Trip Details</h2>

<h3>Rate this trip</h3>

<table class='trip_details'>

  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver_id</th>
    <th>Passenger_id</th>
    <th>Cost</th>
    <th>Rating</th>

  </tr>

  <tr>
    <td><%= link_to @trips.id%></td> 
    <td><%= link_to @trips.date%></td> 
    <td><%= link_to @trips.driver_id%></td> 
    <td><%= link_to @trips.passenger_id, show_passenger_path%></td> 
    <td><%= link_to "$ #{@trips.cost/100.to_f}"%></td> 
    <td><%= link_to @trips.rating%></td> 
    <td><%= link_to "Edit", edit_trip_path(@trips.id) %></td>
    <td><%= link_to "Delete", delete_trip_path(@trips.id), method: :delete, data: { confirm: "Do you really want to delete?" } %></td>

  </tr>

</table>
