<h2>Trip Details</h2>

<table class='trip_details'>

  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver_id</th>
    <th>Passenger_id</th>
    <th>Cost</th>
    <th>Rating</th>
    <th>Details</th>

  </tr>

  <tr>
    <td><%= link_to @trips.id, trip_details_path%></td> 
    <td><%= link_to @trips.date, trip_details_path%></td> 
    <td><%= link_to @trips.driver_id, trip_details_path%></td> 
    <td><%= link_to @trips.passenger_id, trip_details_path%></td> 
    <td><%= link_to "$ #{@trips.cost/100.to_f}", trip_details_path%></td> 
    <td><%= link_to @trips.rating, trip_details_path%></td> 
  </tr>

</table>
