<h2>Edit Passenger Form</h2>

<%= form_with model: @Passenger, class: 'edit_passenger' do |f| %>
<p><strong>Please Edit Passenger Details</strong></p>

  <div>
    <%= f.label :name, "Name of Passenger:" %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div>
    <%= f.label :description, "Phone Number:" %>
    <%= f.text_field :description, placeholder: "111-222-3333" %>
  </div>

  <%= f.submit "Edit this Passenger", class: 'edit_class_button' %>

<% end %>