<h2>New Passenger Form</h2>

<% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @Passenger, class: 'create_passenger' do |f| %>
<p><strong>Please fill out the details of your Passenger</strong></p>

  <div>
    <%= f.label :name, "Name of Passenger:" %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div>
    <%= f.label :description, "Phone Number:" %>
    <%= f.text_field :description, placeholder: "111-222-3333" %>
  </div>

  <%= f.submit "Create A New Passenger", class: 'create_class_button' %>

<% end %>