<h2>Passenger Trip Details</h2>
<h2>The total amount spent on rides is: $<%=@earnings/100.to_f%></h2>
<h2><%= link_to 'Request a trip', new_trip_path%></h2> 


<table>

  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver_id</th>
    <th>Passenger_id</th>
    <th>Cost</th>
    <th>Rating</th>
    <th>Details</th>

  </tr>

    <% @trips.each do | trip | %>
  <tr>

    <td><%= trip.id%></td> 
    <td><%= trip.date%></td> 
    <td><%= trip.driver_id%></td> 
    <td><%= trip.passenger_id%></td> 
    <td><%= "$ #{trip.cost/100.to_f}"%></td> 
    <td><%= trip.rating%></td> 
    <td><%= link_to 'Details', show_trip_details_path(trip.passenger_id, trip.id)%></td> 
  </tr>
    <% end %>

</table>
