<table>
<h2>Passenger List</h2>

  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Details</th>

    <% @trips.each do | trip | %>
  </tr>
    <th><%= link_to trip.id, show_passenger_path(passenger.id) %></th> 
    <th><%= link_to trip.date, show_passenger_path(passenger.id) %></th> 
    <th><%= link_to trip.driver, show_passenger_path(passenger.id) %></th> 
    <th><%= link_to trip.passenger, show_passenger_path(passenger.id) %></th> 
    <th><%= link_to trip.price, show_passenger_path(passenger.id) %></th> 
    <th><%= link_to trip.rating, show_passenger_path(passenger.id) %></th> 
    <th><%= link_to trip.details, show_passenger_path(passenger.id) %></th> 
  </tr>
    <% end %>


</table>
