<h2>Edit Driver Form</h2>

<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver do |f| %>
<p><strong>Please fill out any changes to your Driver</strong></p>

  <div>
    <%= f.label :name, "Name of Driver:" %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div>
    <%= f.label :vin, "VIN Number:" %>
    <%= f.text_field :vin, placeholder: "17 digits please" %>
  </div>

  <%= f.submit "Edit this Driver" %>

<% end %>
