<h2>New Driver Form</h2>

<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver do |form| %>
  <p><strong>Please fill out the details of your Driver</strong></p>

  <div>
    <%= form.label :name, "Name of Driver:" %>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div>
    <%= form.label :vin, "Vin number:" %>
    <%= form.text_field :vin, placeholder: "17 digits please" %>
  </div>

  <%= form.submit "Submit" %>
<% end %>
