<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="nav_list">
    <a><%= link_to 'Cabbie', home_path %></a> 
    <a><%= link_to 'Home', home_path %></a> 
  <div class="dropdown">
    <button class="dropbtn">Drivers 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a> View Drivers</a>
      <a> Create a new Driver</a>
    </div>
        <button class="dropbtn">Passengers 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a> View Passengers</a>
      <a><%= link_to 'Create a new Passenger', new_passenger_path %></a>
    </div>
  </div> 
</div>
    </header>
    
    
    <main>
    <%= yield %>
    </main>
  <footer>  
  <p> © Chantal and Rosalyn Development 2019</p>
  </footer>
</body>

</html>

