<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <a><%= link_to 'Cabbie', home_path %></a> 
        <a><%= link_to 'Home', home_path %></a> 
      </div> 

      <div class="nav_list">
        <div class="dropdown">
          <button class="dropbtn">Drivers 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a><%=link_to 'View all Drivers', drivers_path%></a>
            <a><%= link_to 'Create a new Driver', new_driver_path %></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Passengers 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a><%= link_to 'View all Passengers', passengers_path %></a>
            <a><%= link_to 'Create a new Passenger', new_passenger_path %></a>
          </div>
        </div>
      </div>
    </header>
    
    
    <main>
    <%= yield %>
    </main>
  <footer>  
  <p> © Chantal and Rosalyn Development 2019</p>
  </footer>
</body>

</html>

