<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="nav_list">
      <ul>
        <li><%= link_to 'Cabbie', home_path %></li> 
        <li>Drivers</li> 
        <li><%= link_to 'Passengers', new_passenger_path %></li> 
        <li><%= link_to 'Home', home_path %></li> 
      </ul>
    </nav>
  </header>
    <main>
    <%= yield %>
    </main>
  <footer>  
  <p> © Chantal and Rosalyn Development 2019</p>
  </footer>
</body>

</html>
